h1 {
    font-family: Geneva ;
    font-size: 50px;
}
#for1{
    position: absolute;
    width: 850px;
    top: 40%;
    align-content: center;
    left: 50%;
    font-size: 18px;
    color: blue;
    font-family: Geneva;
    transform: translate(-50%, -50%);
}
#for2{
    position: absolute;
    width: 850px;
    top: 45%;
    left: 50%;
    align-content: center;
    font-size: 18px;
    color: blue;
    font-family: Geneva;
    transform: translate(-50%, -50%);
}
#forval {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    font-weight: bold;
    font-family: Geneva;
    transform: translate(-50%, -50%);
}
#language{
    padding: 4px;
    border: 1px solid black;
    border-radius: 3px;
    width: 240px;
    font-size: 18px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#for3{
    position: absolute;
    width: 850px;
    top: 68%;
    left: 64%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: darkblue;
    font-family: Geneva;
}
#for4{
    position: absolute;
    width: 850px;
    top: 73%;
    left: 64%;
    font-family: Geneva;
    transform: translate(-50%, -50%);
    font-size: 22px;
}
#hideSentence{
    position: absolute;
    font-size:18px ;
    padding:6px ;
    margin-right:4px ;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hideSentence1{
    position: absolute;
    font-size:18px ;
    padding:6px ;
    margin-right:4px ;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}