h1 {
    font-family: Geneva ;
    font-size: 50px;
}
#for1{
    position: absolute;
    width: 850px;
    top: 40%;
    align-content: center;
    left: 50%;
    font-size: 23px;
    font-weight: bold;
    color: darkblue;
    font-family: Geneva;
    transform: translate(-50%, -50%);
}
#for2{
    position: absolute;
    width: 850px;
    top: 45%;
    left: 72%;
    align-content: center;
    font-size: 18px;
    font-style: italic;
    color: blue;
    font-family: Geneva;
    transform: translate(-50%, -50%);
}
#forval {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    font-weight: bold;
    font-family: Geneva;
    transform: translate(-50%, -50%);
}
#language{
    padding: 4px;
    border: 1px solid black;
    border-radius: 3px;
    width: 240px;
    font-size: 18px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#for3{
    position: absolute;
    width: 850px;
    top: 68%;
    left: 70%;
    font-weight: bold;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: darkblue;
    font-family: Geneva;
}
#for4{
    position: absolute;
    width: 850px;
    top: 75%;
    left: 70%;
    align-content: center;
    font-family: Geneva;
    transform: translate(-50%, -50%);
    font-size: 22px;
}
#for5{
    position: absolute;
    width: 850px;
    top: 110%;
    left: 73%;
    font-style: bold;
    font-family: Geneva;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
#for6{
    position: absolute;
    width: 850px;
    top: 120%;
    left: 73%;
    font-style: bold;
    font-family: Geneva;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
#for7{
    position: absolute;
    width: 850px;
    top: 150%;
    left: 68%;
    align-content: center;
    font-style: bold;
    color: orange;
    font-family: Geneva;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
#hideSentence{
    position: absolute;
    font-size:18px ;
    padding:6px ;
    margin-right:4px ;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hideSentence1{
    position: absolute;
    font-size:18px ;
    padding:6px ;
    margin-right:4px ;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hideSentence2{
    position: absolute;
    font-size:18px ;
    padding:6px ;
    margin-right:4px ;
    top: 300%;
    left: 14%;
    transform: translate(-50%, -50%);
}